{% extends 'base.html.twig' %}

{% block title %}Produits
{% endblock %}

{% block body %}

	<div class="container">
		<h1 class="mb-5">Article</h1>
		<div class="row row-mobutu">
			<div class="card col-md-5">
				<div class="w-100 rounted-top overflow-hidden">
					<img class="card-img-top" src="{{ produit.imageName ? vich_uploader_asset(produit) : asset('public/images/products/placeholder.jpg') | imagine_filter('lataille_medium')}}" alt="Card image cap">
				</div>
				<div class="card-body">
					<h6 class="card-title">{{ produit.titre }}</h6>
					<p class="card-text">
						<small>{{ produit.description }}</small>
					</p>
					<p><small>publié le {{ produit.createdAt|date('d/m/y') }}</small></p>

					<a href="{{ path("payment", {id: produit.id}) }}" class="btn btn-primary btn-block">
						{{ produit.prix|prixEuro('€') }}
					</a>
					<a href="{{path("cart_add", {id: produit.id})}}" class="btn btn-secondary">Ajouter au panier</a>
				</div>
			</div>
		</div>
		<div class="col-xl-12">
			<a href="{{ path('app_produits_index') }}">back to list</a>
			<a href="{{ path('app_produits_edit', {'id': produit.id}) }}">edit</a>

			{{ include('produits/_delete_form.html.twig') }}
		</div>
	</div>



{% endblock %}
